NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_HATS_LEADER_ID=
NEXT_PUBLIC_HATS_LEADER_SAFE_ACCOUNT=
NEXT_PUBLIC_HATS_TREE_ID=
NEXT_PUBLIC_HSG_CONTRACT_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_ALCHEMY_API_KEY=

SUPABASE_SERVICE_KEY=
DEFENDER_WEBHOOK_URL=
INVITE_TTL_SECONDS= # default 86400