NEXT_PUBLIC_HATS_LEADER_ID=
NEXT_PUBLIC_HATS_LEADER_SAFE_ACCOUNT=
NEXT_PUBLIC_HATS_TREE_ID=
NEXT_PUBLIC_HSG_CONTRACT_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_ALCHEMY_API_KEY=
NEXT_PUBLIC_WC_PROJECT_ID=

DEFENDER_WEBHOOK_URL=
DEFENDER_WEBHOOK_SECRET=
INVITE_TTL_SECONDS= # default 86400

TURSO_DATABASE_URL="file:local.db"
TURSO_AUTH_TOKEN=""

RELAYID_APP_API_TOKEN=""
